.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 259px;
  background-color: #d7cfcf;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #676565;
}

.header {
  height: 54px;
  background-color: #e3cece;
}

.main-content {
  flex: 1;
  background-color: #efe2e2;
  padding-bottom: 81px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 259px;
  width: calc(100% - 259px);
  height: 81px;
  background-color: #190101;
}

/* Styles specific to the Search page go here*/
.main-content {
  color: white;
  background-color: #060606;
  overflow: auto;
  padding: 20px;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
}

.recent-searches {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.image-wrapper {
  position: relative;
}
.image-wrapper img {
  position: absolute;
  top: 0;
  right: 0;
}

.card1 {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-image: url(/images/daft-punk.png);
  background-size: cover;
}

.card2 {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-image: url(/images/David-Bowie.png);
  background-size: cover;
  border-radius: 50%;
}

.card3 {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-image: url(/images/Black-Holes.png);
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px -5px 0px 0px #6278b1;
}

.discover-wrapper {
  display: flex;
  justify-content: space-between;
}

.discover {
  display: flex;
  justify-content: space-around;
}

.box1 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #1E3264;
  border: 2px;
  border-radius: 10px;
}

.box2 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #BA5D07;
  border: 2px;
  border-radius: 10px;
}

.box3 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #1E3264;
  border: 2px;
  border-radius: 10px;
}

.box4 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #8D67AB;
  border: 2px;
  border-radius: 10px;
}

.box5 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #B02897;
  border: 2px;
  border-radius: 10px;
}

.box6 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #8D67AB;
  border: 2px;
  border-radius: 10px;
}

.box7 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #777777;
  border: 2px;
  border-radius: 10px;
}

.box8 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #BA5D07;
  border: 2px;
  border-radius: 10px;
}

.genrs-wrapper {
  display: flex;
  justify-content: space-between;
}

.genrs {
  display: flex;
  justify-content: space-around;
}

.box9 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #148A08;
  border: 2px;
  border-radius: 10px;
}

.box10 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #D84000;
  border: 2px;
  border-radius: 10px;
}

.box11 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #503750;
  border: 2px;
  border-radius: 10px;
}

.box12 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #006450;
  border: 2px;
  border-radius: 10px;
}

.box13 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #E91429;
  border: 2px;
  border-radius: 10px;
}

.box14 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #1E3264;
  border: 2px;
  border-radius: 10px;
}

.box15 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #E91429;
  border: 2px;
  border-radius: 10px;
}

.box16 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #537AA1;
  border: 2px;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
