@use 'variables' as *;

.album-main-content {
  width: 100%;
  display: flex;
  gap: 38px;
}

.album-content {
  width: 66%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.album-info-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.album-info {
  display: flex;
  align-items: center;
}

.album-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
  color: #898989;
  border-collapse: separate; 
  border-spacing: 0 10px;
}

.album-table {
  width: 100%;
  padding: 16px;
  display: flex;
}

.artist-table {
  width: 100%;
  max-width: 780px;
  border-collapse: collapse;
}

// thead starts here

.song-header tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.song-header th {
  padding: 8px 16px;
  text-align: left;
  font-size: 12px;
  color: #a0a0a0;
  text-transform: capitalize;
  letter-spacing: 0.08em;
}


// tbody starts here

.included-songs tr {
  cursor: pointer;
}

.included-songs tr:hover {
  transform: scale(1.01)
}

.included-songs td {
  padding: 10px 16px;
  color: #e0e0e0;
  font-size: 14px;
  vertical-align: middle;
}

.included-songs td:first-child {
  text-align: center;
  color: #a0a0a0;
  font-size: 14px;
  width: 40px;
}

.music-genrs {
  width: 320px;
  height: 88px;
  display: flex;       
  flex-wrap: wrap;     
  gap: 3px; 
  margin-top: 30px;
}

.music-genrs span {
  color: #898989;
  border: solid #89898940;
  border-radius: 40px;
  padding: 12px 12px;
  margin: 5px;
}
  
.artists-info {
  display: flex;
  flex-direction: column;  
  gap: 25px;
  margin-top: 60px;
}

.artist-name {
  display: flex;
  align-items: center;      
  gap: 20px;           
  color: #898989;      
}

.artist-name img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  object-fit: cover;
}


