@use 'variables' as *;
@use 'mixins' as *;

.library-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #898989;
  background-color: transparent;
  width: 100%;
  margin-bottom: 20px;
}

.left-group, .right-group {
  display: flex;
  align-items: center;
  gap: 36px;
}

.library-icon-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #b3b3b3; 
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease;

  img {
    width: 40px; 
    height: 40px;
  }

  span {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  &:hover {
    color: #FFFFFF;
    transform: scale(1.05);
    
    img {
      filter: brightness(1.5); 
    }
  }
}

form.library-icon-btn {
  background-color: #060606;
  border-radius: 20px;
  padding: 4px 12px;

  input {
    background: none;
    border: none;
    color: white;
    margin-left: 5px;
    outline: none;
    width: 0; 
    transition: width 0.3s ease;
  }
    
  &:hover input, input:focus {
    width: 100px; 
  }
}

.library-main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap:12px;
  width: 100%;
}

#list:target {
  display: none;

  .list-view {
    display: flex;
  }
}
.song-wrapper {
  position: relative; 
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
  cursor: pointer;
  gap: 8px;
  min-width: 0;
  width: 100%;
}

.song-wrapper:hover {
  transform: translateY(-4px);
  transition: transform 0.2s ease;
}

.song-image-wrapper img {
  width: 170px;
  height: 170px;
  object-fit: cover; 
  border-radius: 8px;
}

.song-image-wrapper1 img {
  width: 170px;
  height: 170px;
  object-fit: cover; 
  border-radius: 50%;
}

.pin-image-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $black-bg;
  top: 0px;
  right: 0px;
}

.pin-image-wrapper img {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  top: 25%;
  left: 25%;
}

.song-info {
  padding: 0 3px;
}

.song-title-wrapper {
  display: flex;             
  justify-content: space-between;
  align-items: center;      
  gap: 8px;                  
  width: 100%;

  h4 {             
    font-size: 14px;    
  }

  .neon-green {
    color: #1ed760;         
  }

  .light-gray {
    color: #989797;
  }
}

.light-blue {
  color: #95E6D3;
}

.light-pink {
  color: #F4B8BD;
}

.light-green {
  color: #C3E7B7;
}

.neon-yellow {
  color: #CCF665;
}

.yellow {
  color: #F9E72C;
}

.aqua {
  color: #9BF0E2;
}


.box-description {
  font-size: 14px;
  color: #989797;
  margin-top: 4px;  
}

// styles for list-view

.list-view {

  color: $light-font-color;
  width: 100%;
  display: flex;
  flex-direction: column;

  summary {
    list-style: none;
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    color: $primary-font-color;

    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  summary::-webkit-details-marker {
    display: none;
  }

  .dropdown-arrow {
    transition: transform 0.2s ease;
  }

  details[open] .dropdown-arrow {
  transform: rotate(90deg);
}

}