@use 'variables' as *;
@use 'mixins' as *;

.main-page {
  color: #E0E0E0;
  background-color: #060606;
  overflow: auto;
  padding: 20px;
}

.library-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  color: #898989;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
}

.left-group, .right-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.library-icon-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #b3b3b3; 
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 8px;
  transition: all 0.2s ease;

  img {
    width: 40px; 
    height: 40px;
  }

  span {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  &:hover {
    color: white;
    transform: scale(1.05);
    
    img {
      filter: brightness(1.5); //  გაღიავება ჰოვერზე
    }
  }
}

// საძიებო ინფუთის სტილი
form.library-icon-btn {
  background-color: #060606;
  border-radius: 20px;
  padding: 4px 12px;

  input {
    background: none;
    border: none;
    color: white;
    margin-left: 5px;
    outline: none;
    width: 0; // თავიდან დამალულია
    transition: width 0.3s ease;
  }
    
  &:hover input, input:focus {
    width: 100px; // ჰოვერზე გამოდის საძიებო ველი
  }
}

.library-main-content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap:0px;
  width: 100%;
  box-sizing: border-box;
}

.song-wrapper {
  position: relative; 
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
  cursor: pointer;
  min-width: 0;
  width: 100%;
}

.song-wrapper:hover {
  background-color: #282828;
}

/* სურათების კონტეინერი */
.song-image-wrapper {
  width: 100%;
}

.song-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* სურათი რომ არ გაიწელო და ჩაჯდეს ფორმაში */
  border-radius: 8px;
}

.song-image-wrapper1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%;
}

.pin-image-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;

}

.pin-image-wrapper img {
  width: 40px;
  height: 40px;
}

.song-title-wrapper {
  display: flex;            
  align-content: space-between; 
  align-items: center;      
  gap: 8px;                  
  width: 100%;

  h4 {             
    font-size: 14px;    
  }

  .neon-green {
    color: #1ed760;         
  }

  .light-gray {
    color: #989797;
  }
}

.light-blue {
  color: #95E6D3;
}

.light-pink {
  color: #F4B8BD;
}

.light-green {
  color: #C3E7B7;
}

.neon-yellow {
  color: #CCF665;
}

.yellow {
  color: #F9E72C;
}

.aqua {
  color: #9BF0E2;
}


.box-description {
  font-size: 14px;
  color: #989797;
  margin-top: 4px;  
}