$sidebar-width: 259px;
$footer-height: 81px;
$mobile-breakpoint: 1050px;
$mobile-nav-height: 95px;
$card-size-mobile: 141px;
$card-size-desktop: 170px;

//colors
$primary-font-color: #E0E0E0;
$secondary-font-color: #6E6E6E;
$spotify-green: #1ED760; 
$primary-background: #060606;
$secondary-background: #202020;
$secondary-background-w-opacity: rgba(32, 32, 32, 0.5);
