@use 'variables' as *;
@use 'mixins' as *;
@use 'layout';
@use 'sidebar';
@use 'header';
@use 'player';
@use 'search';

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-family: 'Satoshi', sans-serif;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}